body {
  margin: 0;
  background-color: #d9d9d9;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #063;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #084;
  text-align: center;
}

nav a:hover {
  background-color: #0a5;
}

.pagina-tutoriais {
  background-color: white;
  margin: 20px;
  padding: 30px;
}

.pagina-tutoriais > section {
  margin-bottom: 40px;
}

.pagina-tutoriais > section > div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.pagina-tutoriais article {
  flex: 1 1 400px;
  max-width: 560px;
  padding: 25px;
  background-color: #eee;
  border-radius: 10px;
}

.pagina-tutoriais article h3 {
  margin-top: 0;
  color: #063;
}

.pagina-tutoriais article iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
}

.pagina-tutoriais > section > a,
.pagina-tutoriais > p > a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #063;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.pagina-tutoriais > section > a:hover,
.pagina-tutoriais > p > a:hover {
  background-color: #084;
}

footer {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

@media (width <= 600px) {
  .pagina-tutoriais > section > div {
    flex-direction: column;
  }

  .pagina-tutoriais article {
    flex: 1 1 auto;
    max-width: none;
  }
}
